/* Task 5 */
body{
	background-color: rgb(48, 48, 120);
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}

.article{
	margin: 10px;
	padding: 10px;
	width: 1300px;
	height: 100px;
	border: 3px solid black;
	border-radius: 5px;
	background-color: antiquewhite;
	font-size: 20px;
}
.coments{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 10px;
	width: 1300px;
	height: auto;
	border: 1px solid black;
	border-radius: 5px;
}
.coment{
	margin: 10px;
	padding: 10px;
	width: 1250px;
	height: auto;
	border: 3px solid black;
	border-radius: 5px;
	background-color: rgb(165, 169, 125);
	font-size: 20px;
}
.formCreate{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	
	margin: 10px;
	width: 1300px;
	height: auto;
	border: 1px solid black;
	border-radius: 5px;
	background-color: beige;
}
.styleInput{
	border-radius: 5px;
}
.button{
	width: 100px;
}
